@{
    ViewData["Title"] = "Create Auction";
}
@model Projekat.Models.View.AuctionModel;

@if((string)@ViewData["Mode"] == "create"){
<h1>Create Auction</h1>

}
else {
<h1>Update Auction</h1>

}

<div class="row"> 
    <div class="col-xl-4">
        <form asp-action="@((string)@ViewData["Mode"] == "create"?"CreateAuction":"UpdateAuction")" asp-controller="Auction" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="controll-label"></label>
                <input asp-for="name"  class="form-control">
                <span  asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="controll-label"></label>
                <textarea asp-for="description"  class="form-control"></textarea>
                <span  asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="controll-label"></label>
                <input asp-for="image"  class="form-control">
                <span  asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startPrice" class="controll-label"></label>
                <input asp-for="startPrice"  class="form-control">
                <span  asp-validation-for="startPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="openingDate" class="controll-label"></label>
                <input asp-for="openingDate"  class="form-control">
                <span  asp-validation-for="openingDate" class="text-danger"></span>
            </div>

              <div class="form-group">
                <label asp-for="closingDate" class="controll-label"></label>
                <input asp-for="closingDate"  class="form-control">
                <span  asp-validation-for="closingDate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="@((string)@ViewData["Mode"] == "create"?"Create Auction":"Update Auction")">
            </div>
        </form>
    </div>
</div>